/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Fredoka', sans-serif;
}

.container {
    margin: 0 auto;
    width: 70%;
}

h1 {
    font-size: 35px;
    color: deeppink;
}

.col {
    width: calc(100% / 3);
    float: left;
    background-color: black;
}

.card {
    box-shadow: 0 0 15px black;
}

.float-right > div {
    color: white;
}

/* CLEARFIX */
.clearfix {
    content: "";
    display: table;
    clear: both;
}

/* FIRST SECTION */
.container section:first-child {
    text-align: center;
}

h1 {
    padding: 30px 0;
}

/* SECOND SECTION */
.container section:last-child {
    width: 100%;
    padding: 30px 0;
}

.card > img {
    height: 100px;
    float: left;
}

.float-right {
    margin-left: 15px;
    padding: 10px 0;
    float: right;
    line-height: calc(80px / 3);
}

.float-right div:first-child {
    font-size: 16px;
    font-weight: 700;
}

.float-right div:nth-child(2) {
    font-size: 15px;
}

.float-right div:last-child {
    font-size: 14px;
    color: aqua;
}